{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- Bannière -->
    <div id="hero" class="flex items-center justify-center">
    
        <div id="texte-accueil">
            <h3 class="font-bold text-5xl w-100">Découvrez notre sélection de livres</h3>
            <button type="button" class="mt-4 px-6 py-3 text-white rounded-lg" style="background-color:#3F5366;">
                <a href="{{path('app_livres')}}">Explorer le catalogue</a>
            </button>
        </div>

        <div id="image-accueil" style="width:338px; height:507px;">
            <img src="{{ asset('assets/img/livre.png') }}" alt="Image d'accueil" style="width: 100%; margin-top: 20px;">
        </div>

    </div>

    <!-- Les genres -->
    <div id="genres" style="background-color:#CDD6E2;" class="px-8 py-16 items-center justify-center text-center">
        <h2 class="text-4xl mb-10">Les genres que nous proposons</h2>

        <button type="button" class="box-border border border-transparent rounded-3xl" style="background-color:#EEF3F8;">
            Romance
        </button>
             <button type="button" class="box-border border border-transparent rounded-3xl" style="background-color:#EEF3F8;">
            Fantasy
        </button>

             <button type="button" class="box-border border border-transparent rounded-3xl" style="background-color:#EEF3F8;">
            Horreur
        </button>
             <button type="button" class="box-border border border-transparent rounded-3xl" style="background-color:#EEF3F8;">
           BD/Mangas
        </button>
        <button type="button" class="box-border border border-transparent rounded-3xl" style="background-color:#EEF3F8;">
            Thriller
        </button>
             <button type="button" class="box-border border border-transparent rounded-3xl" style="background-color:#EEF3F8;">
            Poésie
        </button>
             <button type="button" class="box-border border border-transparent rounded-3xl" style="background-color:#EEF3F8;">
            Jeunesse
        </button>
    </div>

    <!-- Les plus vendus -->
    <div id="best-sellers" class="px-8 py-16 text-center">
        <h2 class="font-bold text-6xl">Les plus vendus</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    {% for livre in bestSellers %}
        <div class="p-4 rounded shadow" style="width:258px;">
            <img src="assets/img/{{ livre.photo }}" alt="{{ livre.titre }}" style="width:100%;">
            <h3 class="font-semibold mt-2 text-2xl">{{ livre.titre }}</h3>
               <button><a href="{{ path('app_detail', { slug: livre.slug }) }}"     class="inline-flex items-center font-medium rounded-base text-sm px-4 py-2.5 text-white">
   
        Voir le détail
        <i class="fa-solid fa-arrow-down fa-rotate-270 text-sm text-white"></i>
    </a></button>
        </div>
    {% endfor %}
</div>

    </div>

{% endblock %}
