<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Librio</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/783766bfd8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
</head>

<header class="{# sticky top-0 bg-[#CDD6E2] #} relative">

  <div class="mx-auto flex h-16 items-center gap-8 px-4 sm:px-6 lg:px-8">

    <a class="block" href="#">
      <img src="{{ asset('assets/img/logo-nonebackground.png') }}" alt="Logo" style="width: 150px;">
    </a>

    <div class="flex flex-1 items-center justify-end md:justify-between">

      <!-- Menu desktop -->
      <nav aria-label="Global" class="hidden md:block">
        <ul class="flex items-center gap-6 text-sm">
          <li><a href="{{ path('app_home') }}" class="hover:text-[#293a49] hover:underline">Accueil</a></li>
          <li><a href="{{ path('app_livres') }}"class="hover:text-[#293a49] hover:underline">Catalogue</a></li>
          <li><a href="{{path('app_contact')}}" class="hover:text-[#293a49] hover:underline">Contact</a></li>
        </ul>
      </nav>

      <div class="flex items-center gap-4">
        <div class="flex gap-4 items-center">

          {% if app.user %}

          <!-- Faire apparaîre les icônes uniquement en version ordinateur -->
        <div class="hidden md:flex gap-4">
             <!-- 👤 MON COMPTE -->
            <a href="{{ path('app_compte') }}">
              <i class="fa-solid fa-user md:text-3xl hover:text-[#293a49]">
              </i>
            </a>

             <!-- 🛒 PANIER -->
           <a href="{{ path('app_panier') }}" class="relative">
              <i class="fa-solid fa-cart-shopping md:text-3xl hover:text-[#293a49]"></i>
            </a> 

        
        </div>

  
            <!-- 🔓 SE DÉCONNECTER -->
        
              <button class="px-3 py-1.5 md:px-4 md:py-2
               bg-red-600 text-white text-sm md:text-base
               rounded hover:bg-red-700">
                <a href="{{path('app_logout')}}">Se déconnecter</a>
              </button>
       

          {% else %}

            <!-- 🔐 SE CONNECTER -->
           <button class="hover:bg-[#293a49]"> <a href="{{ path('app_login') }}" class="px-4 py-2 text-white md:text-xl">
              Se connecter
            </a></button>

          {% endif %}
        </div>

       <button id="menu-toggle"
        class="block rounded-sm bg-gray-100 p-2.5 text-gray-600 hover:text-gray-600/75 md:hidden">
          <i class="fa-solid fa-bars"></i>
      </button>



</header>
</header>

<!-- MENU MOBILE EN DEHORS DU HEADER -->
<nav id="mobile-menu" class="hidden md:hidden border-t border-gray-200 w-full" style="background-color:#CDD6E2;">
  <ul class="flex flex-col items-center gap-4 py-4">
    <li><a class="text-gray-600 hover:text-[#664B4E]" href="{{ path('app_home') }}">Accueil</a></li>
    <li><a class="text-gray-600 hover:text-[#664B4E]" href="{{ path('app_livres') }}">Catalogue</a></li>
    <li><a class="text-gray-600 hover:text-[#664B4E]" href="{{ path('app_contact') }}">Contact</a></li>

    {% if app.user %}
      <li><a class="text-gray-600 hover:text-[#664B4E]" href="{{path('app_compte')}}">Mon compte</a></li>
      <li><a class="text-gray-600 hover:text-[#664B4E]" href="{{ path('app_panier') }}">Mon panier</a></li>

    {% else %}

    {% endif %}
  </ul>
</nav>

