{% extends 'base.html.twig' %}

{% block body %}
<div class="mt-24 max-w-xl mx-auto p-6 bg-white rounded-xl shadow">

    <h1 class="text-2xl font-bold mb-6 text-center">Modifier mes informations</h1>

    {{ form_start(form) }}

    {{ form_row(form.prenom) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.email) }}

    <button class="mt-4 text-white px-6 py-2 rounded w-full">
        Enregistrer
    </button>

    {{ form_end(form) }}

</div>
{% endblock %}
