{% extends 'base.html.twig' %}

{% block title %} Catalogue {% endblock %}

{% block body %}

{% for genre, livres in livresParGenre %}

    {% set genreId = genre|lower|replace({' ':'-'}) %}

    <section class="px-20 py-16 mb-12">
        <h2 class="text-4xl font-bold text-bluegray-dark mb-4">{{ genre }}</h2>

        <div class="relative">

            <!-- Bouton gauche -->
            <button 
                class="absolute left-0 top-1/2 -translate-y-1/2 z-10 bg-white/80 hover:bg-white shadow p-2 rounded-full"
                onclick="scrollLeft('{{ genreId }}')">
                ←
            </button>

            <div id="{{ genreId }}" 
                 class="flex gap-6 overflow-x-auto scroll-smooth py-4 px-2 no-scrollbar">

                {% for livre in livres %}
                 <div class=" bg-neutral-primary-soft p-4 border border-default shadow-xs rounded-xl min-w-[180px] sm:min-w-[200px] md:min-w-[220px] lg:min-w-[240px]">

    <!-- IMAGE COUVERTURE RESPONSIVE -->
    <div class="w-full h-[260px] sm:h-[300px] md:h-[320px] overflow-hidden rounded-lg bg-white">
        <a href="#">
            <img 
                class="w-full h-full object-cover" 
                src="/assets/img/{{ livre.photo }}" 
                alt="{{ livre.titre }}"
            />
        </a>
    </div>

    <!-- TITRE -->
    <a href="#">
        <p class="mt-4 mb-1 text-base sm:text-lg font-semibold text-heading line-clamp-2">
            {{ livre.titre }}
        </p>
    </a>

    <!-- AUTEUR -->
    <p class="mb-4 text-body text-sm truncate">
        {{ livre.auteur }}
    </p>

        <!-- PRIX -->
    <p class="mb-4 text-body text-xl font-semibold truncate">
        {{ livre.prix }} €
    </p>

    <!-- BOUTON -->
    <button><a href="{{ path('app_detail') }}" 
       class="inline-flex items-center font-medium rounded-base text-sm px-4 py-2.5 text-white">
        Voir le détail
        <i class="fa-solid fa-arrow-down fa-rotate-270 text-sm text-white"></i>
    </a></button>

</div>
                {% endfor %}

            </div>

            <!-- Bouton droite -->
            <button 
                class="absolute right-0 top-1/2 -translate-y-1/2 z-10 bg-white/80 hover:bg-white shadow p-2 rounded-full"
                onclick="scrollRight('{{ genreId }}')">
                →
            </button>

        </div>

    </section>

{% endfor %}



{% endblock %}
